/.vs/inyata-backend/DesignTimeBuild/.dtbcache.v2
/.vs/inyata-backend/FileContentIndex/09ccfac4-8b51-47a5-a7ee-c4967f240239.vsidx
/.vs/inyata-backend/FileContentIndex/20c0e8aa-7b6a-4785-be49-88c3ad5aa748.vsidx
/.vs/inyata-backend/FileContentIndex/22817e37-c577-416d-9313-c594cdd64385.vsidx
/.vs/inyata-backend/FileContentIndex/aa56d462-ebd6-4655-91a8-1e83cf1612eb.vsidx
/.vs/inyata-backend/v17/.futdcache.v2
/.vs/inyata-backend/v17/.suo
/.vs/ProjectEvaluation/inyata-backend.metadata.v7.bin
/.vs/ProjectEvaluation/inyata-backend.projects.v7.bin
/inyata-backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/inyata-backend/obj/Debug/net8.0/inyata-backend.AssemblyInfo.cs
/inyata-backend/obj/Debug/net8.0/inyata-backend.AssemblyInfoInputs.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.assets.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.AssemblyReference.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.GeneratedMSBuildEditorConfig.editorconfig
/inyata-backend/obj/Debug/net8.0/inyata-backend.GlobalUsings.g.cs
/inyata-backend/obj/inyata-backend.csproj.nuget.dgspec.json
/inyata-backend/obj/inyata-backend.csproj.nuget.g.props
/inyata-backend/obj/inyata-backend.csproj.nuget.g.targets
/inyata-backend/obj/project.nuget.cache
