/.vs/inyata-backend/DesignTimeBuild/.dtbcache.v2
/.vs/inyata-backend/FileContentIndex/09ccfac4-8b51-47a5-a7ee-c4967f240239.vsidx
/.vs/inyata-backend/FileContentIndex/20c0e8aa-7b6a-4785-be49-88c3ad5aa748.vsidx
/.vs/inyata-backend/FileContentIndex/22817e37-c577-416d-9313-c594cdd64385.vsidx
/.vs/inyata-backend/FileContentIndex/aa56d462-ebd6-4655-91a8-1e83cf1612eb.vsidx
/.vs/inyata-backend/v17/.futdcache.v2
/.vs/inyata-backend/v17/.suo
/.vs/ProjectEvaluation/inyata-backend.metadata.v7.bin
/.vs/ProjectEvaluation/inyata-backend.projects.v7.bin
/inyata-backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/inyata-backend/obj/Debug/net8.0/inyata-backend.AssemblyInfo.cs
/inyata-backend/obj/Debug/net8.0/inyata-backend.AssemblyInfoInputs.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.assets.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.AssemblyReference.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.GeneratedMSBuildEditorConfig.editorconfig
/inyata-backend/obj/Debug/net8.0/inyata-backend.GlobalUsings.g.cs
/inyata-backend/obj/inyata-backend.csproj.nuget.dgspec.json
/inyata-backend/obj/inyata-backend.csproj.nuget.g.props
/inyata-backend/obj/inyata-backend.csproj.nuget.g.targets
/inyata-backend/obj/project.nuget.cache
/.vs/inyata-backend/config/applicationhost.config
/.vs/inyata-backend/FileContentIndex/88724e9c-1832-4d2e-b018-4514c87742e8.vsidx
/inyata-backend/bin/Debug/net8.0/appsettings.Development.json
/inyata-backend/bin/Debug/net8.0/appsettings.json
/inyata-backend/bin/Debug/net8.0/Azure.Core.dll
/inyata-backend/bin/Debug/net8.0/Azure.Identity.dll
/inyata-backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/Humanizer.dll
/inyata-backend/bin/Debug/net8.0/inyata-backend.deps.json
/inyata-backend/bin/Debug/net8.0/inyata-backend.dll
/inyata-backend/bin/Debug/net8.0/inyata-backend.exe
/inyata-backend/bin/Debug/net8.0/inyata-backend.pdb
/inyata-backend/bin/Debug/net8.0/inyata-backend.runtimeconfig.json
/inyata-backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.OpenApi.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/inyata-backend/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/inyata-backend/bin/Debug/net8.0/Mono.TextTemplating.dll
/inyata-backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/inyata-backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/inyata-backend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/inyata-backend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/inyata-backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/inyata-backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/inyata-backend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/inyata-backend/bin/Debug/net8.0/System.ClientModel.dll
/inyata-backend/bin/Debug/net8.0/System.CodeDom.dll
/inyata-backend/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/inyata-backend/bin/Debug/net8.0/System.Composition.Convention.dll
/inyata-backend/bin/Debug/net8.0/System.Composition.Hosting.dll
/inyata-backend/bin/Debug/net8.0/System.Composition.Runtime.dll
/inyata-backend/bin/Debug/net8.0/System.Composition.TypedParts.dll
/inyata-backend/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/inyata-backend/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/inyata-backend/bin/Debug/net8.0/System.Drawing.Common.dll
/inyata-backend/bin/Debug/net8.0/System.Formats.Asn1.dll
/inyata-backend/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/inyata-backend/bin/Debug/net8.0/System.IO.Pipelines.dll
/inyata-backend/bin/Debug/net8.0/System.Memory.Data.dll
/inyata-backend/bin/Debug/net8.0/System.Runtime.Caching.dll
/inyata-backend/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/inyata-backend/bin/Debug/net8.0/System.Security.Permissions.dll
/inyata-backend/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/inyata-backend/bin/Debug/net8.0/System.Text.Json.dll
/inyata-backend/bin/Debug/net8.0/System.Windows.Extensions.dll
/inyata-backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/inyata-backend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/inyata-backend/obj/Debug/net8.0/apphost.exe
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.BuildWithSkipAnalyzers
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.CopyComplete
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.CoreCompileInputs.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.csproj.FileListAbsolute.txt
/inyata-backend/obj/Debug/net8.0/inyata-backend.dll
/inyata-backend/obj/Debug/net8.0/inyata-backend.genruntimeconfig.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.MvcApplicationPartsAssemblyInfo.cache
/inyata-backend/obj/Debug/net8.0/inyata-backend.MvcApplicationPartsAssemblyInfo.cs
/inyata-backend/obj/Debug/net8.0/inyata-backend.pdb
/inyata-backend/obj/Debug/net8.0/inyata-backend.sourcelink.json
/inyata-backend/obj/Debug/net8.0/ref/inyata-backend.dll
/inyata-backend/obj/Debug/net8.0/refint/inyata-backend.dll
/inyata-backend/obj/Debug/net8.0/staticwebassets.build.json
/inyata-backend/obj/Debug/net8.0/staticwebassets/msbuild.build.inyata-backend.props
/inyata-backend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.inyata-backend.props
/inyata-backend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.inyata-backend.props
